*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}


/* header */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 220px;
    width: 100%;
    background-color: #92B4EC;
}


/* logo */
.logo{
    height: 200px;
    margin: 0px 30px;
}
.logo img{
    width: 100%;
    height: 100%;
}


/* navbar */
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 5px 10px ;
    margin: 5px;
    
}


/* seccion intro */
.intro{
    margin: 50px 0px;
}
.intro__titulo{
    text-align: center;
}
.intro__img{
    width: 100%;
    height: 500px;
    
}
.intro__img img{
    width: 100%;
    height: 100%;
}

/* seccion nosotros */
.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
}
.nosotros__titulo{
    text-align: center;
}
.nosotros__texto{
    width: 800px;
    margin: 30px 30px;
}
.nosotros__texto p{
    text-align: center;
}


/* reseñas de usuario cards */ 
.container__cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    margin: 15px 20px;
}
.card:hover {
    box-shadow: 0 5px 15px #FFE69A;
    transform: translateY(-15px);
}
.card .head {
    height: 125px;
    width: 100%;
    position: relative;
}
.card .head .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #92B4EC;
    bottom: 0;
}
.card .head .img {
    width: 150px;
    height: 150px;
    position: absolute;
    background: #FFD24C;
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
}
.card .head .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.card .description {
    height: 200px;
    padding: 40px 20px 20px 20px;
    text-align: center;
}
.card .description h3 {
    margin-top: 20px;
    color: #92B4EC;
}
.card .description p {
    margin-top: 30px;
    font-size: 15px;
}

/* seccion reservas */
.reservas{
    margin: 100px 0px;
}
.reservas__titulo{
    text-align: center;
}
/* tarjetas de room */
.rooms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0px;
}
.rooms .room{
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
}
.rooms .room h2{
    text-align: center;
    font-size: 1rem;
}
.rooms .room img{
    width: 200px;
    height: 200px;
}
.rooms .room button{
    background-color: rgb(99, 187, 99);
}
.rooms .room button:hover{
    transform: translateY(2px);
}


/* carrito */
.carrito{
    display: flex;
    width: 100%;
    justify-content: end;
    position: fixed;
    bottom: 50px; 
}
.carrito i{
    margin: 0px 80px;
}
.ulist {
	display: flex;
	flex-direction: column;
	grid-gap: 10px;
	max-width: 500px;
	margin: auto;
}
.item {
	display: grid;
	grid-gap: 7px;
	width: 100%;
	padding: 10px 15px;
	border: 1px solid #00000090;
}
.total {
	max-width: 500px;
	margin: 30px auto;
}


/* footer */
footer{
    width: 100%;
    background-color: #92B4EC;
}
.container{
    padding: 50px;
}
.footer__links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0px; 
}
.redes-sociales{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.redes-sociales-iconos{
    margin: 20px 0px;
}
.derechos{
    text-align: center;
    margin: 20px 0px;
}




