*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
html {
    min-height: 100%;
    position: relative;
  }

/* header */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 220px;
    width: 100%;
}

/* logo */
.logo{
    height: 200px;
    margin: 0px 30px;
}
.logo img{
    width: 100%;
    height: 100%;
}

/* navbar */
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 5px 10px ;
    margin: 5px;
    
}

/* footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.container{
    padding: 50px;
}
.footer__links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0px; 
}
.redes-sociales{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.redes-sociales-iconos{
    margin: 20px 0px;
}
.derechos{
    text-align: center;
    margin: 20px 0px;
}
